@model ContratacaoNutricionistasWEB.Models.Contrato.FiltroLocalizarNutricionistaVM

<h4>Filtros</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="FiltroConsultasAgendadas" asp-controller="Contrato">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divLogradouro" role="button">
                    Logradouro
                </a>
            </div>
            <div class="form-group collapse" id="divLogradouro">
                <input asp-for="Logradouro" class="form-control" />
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divCidade" role="button">
                    Cidade
                </a>
            </div>
            <div class="form-group collapse" id="divCidade">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divBairro" role="button">
                    Bairro
                </a>
            </div>
            <div class="form-group collapse" id="divBairro">
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divCEP" role="button">
                    CEP
                </a>
            </div>
            <div class="form-group collapse" id="divCEP">
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
                <span id="spanCEP" hidden class="text-danger">CEP não encontrado</span>
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divUF" role="button">
                    Estado
                </a>
            </div>
            <div class="form-group collapse" id="divUF">
                <select class="form-control" asp-for="UF" asp-items="@ViewData[Constantes.ViewDataUnidadesFeracao] as List<SelectListItem>"></select>
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divDataInicio" role="button">
                    Data de início
                </a>
            </div>
            <div class="form-group collapse" id="divDataInicio">
                <input asp-for="DataAgendaInicio" class="form-control" />
                <span asp-validation-for="DataAgendaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="form-control" style="color:black" data-toggle="collapse" href="#divDataTermino" role="button">
                    Data de término
                </a>
            </div>
            <div class="form-group collapse" id="divDataTermino">
                <input asp-for="DataAgendaFim" class="form-control" />
                <span asp-validation-for="DataAgendaFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-default form-control" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ConsultasAgendadas" asp-controller="Contrato">Voltar para página inicial</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var urlCadastrarCEP = "@Url.Action("ConsultarEnderecoCEP", "Nutricionista")"
    </script>
    <script src="~/js/Nutricionista/buscarEnderecoPorCEP.js"></script>
}