/*
 * Programador: Pedro Henrique Pires
 * Data: 03/06/2020
 * Implementação: Implementação Inicial da classe de estilo
 */

/*
Data: 19/06/2020
Programador: Pedro Henrique Pires
Descrição: Label de consulta aceita,pendente e recusada.
*/


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#responsiva-celular {
    font-size: 0.5em;
}

.label-celular-dados {
    font-weight: 500;
}

.label-consulta-aceita{
    color:green;
}

.label-consulta-cancelada{
    color:red;
}

.label-consulta-pendente{
    color:rgb(151, 134, 40);
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width:320px){

    label.label-celular-dados {
        font-size: 0.9em;
        font-weight:500;
    }

    label.label-celular-dados-negrito {
        font-size: 0.9em;
    }
}
