@model ContratacaoNutricionistasWEB.Models.Paciente.PacienteCadastroVM

<h2><center><b>Cadastro de Pacientes</b></center></h2>

<hr />

@if (ViewData["MensagemErro"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 alert alert-danger">
                <span>
                    @ViewData["MensagemErro"].ToString()
                </span>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Cadastro" asp-controller="Paciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" maxlength="50" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group" id="divCPF">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" maxlength="14" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" maxlength="16" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" maxlength="20" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" maxlength="20" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenhaConfirmacao" class="control-label"></label>
                <input asp-for="SenhaConfirmacao" class="form-control" maxlength="20" />
                <span asp-validation-for="SenhaConfirmacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="btnCadastrar" type="submit" value="Cadastrar" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
