
<div style="position:fixed; bottom:8px; width:100%">
    <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1">
        <a class="btn btn-default form-control" style="border:1.2px solid blue; border-radius:8px;"
           asp-action="@ViewData[Constantes.ViewDataActionFiltro]"
           asp-controller="@ViewData[Constantes.ViewDataControllerFiltro]">
            <i class="glyphicon glyphicon-align-justify">
            </i>
            Filtros
        </a>
    </div>
</div>